
/*
  # Kirby Starterkit
  
  This CSS file handles all of the styling in of Kirby’s
  Starterkit. Feel free to tinker around with it and
  adjust it according to your needs.  
  
  ## Color Definitions
  
  The following colors used in the Starterkit. If you want
  to use this CSS file as a starting point for your own
  project, you can do a simple search & replace to adjust
  the color scheme to your needs.
  
  - Background:            #fffff8
  - Text:                  #261e66
  - Hovered Links:         #560bed
  - Active Button BG:      #4509be
  - Caption BG in projects
    showcase:              rgba(38, 30, 102, .95)

  - Highlight, Selection,
    Link Underline:        #71efac
  - Tap color
    (touch devices):       rgba(113, 239, 172, .5)
  - Marked Text BG,
    Callout Boxes BG:      #eafded

  - Menu Separator,
    <hr> in text:          #a8a5be
  - Blockquote BG:         #fffffd
  
  ## Table of Contents
  
  1 Global Rules & Definitions
  1.1 Font Definitions
  1.2 Reset & Normalization
  1.3 General Typography
  1.4 Images & Figures
  
  2 Layout Helpers & Reusable Components
  2.1 Kirbytext
  2.2 Button
  2.3 Grid & Layout
  2.4 Pagination
  2.5 Projects Showcase
  
  3 Site Layout
  3.1 Header
  3.2 Menu
  3.3 Sticky Footer
  3.4 Main Content
  
  4 Template-specific Components
  4.1 Homepage
  4.2 Blog Article
  4.3 Team
  4.4 Contact
  
*/

/* =====  1 Global Rules & Definitions  ===================================== */

/* -----  1.1 Font Definitions  --------------------------------------------- */


@font-face {
  font-family: 'Plane';
  src: url('../fonts/plane/plane.woff') format("woff");
  font-style: normal;
}


@font-face {
  font-family: 'Grotesk';
  src: url('../fonts/grotesk.woff2') format("woff");
  font-style: normal;
}

$header-font: 'Plane', Helvetica, Arial, sans-serif;
$body-font: 'Plane', Helvetica, Arial, sans-serif;

$color-primary: #000;
$color-initial: #000;
$color-secondary: #fff;


/* -----  1.2 Reset & Normalization  ---------------------------------------- */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

::-moz-selection {
  background: #FFFFFF;
  color: black;
}

::selection {
  background: #FFFFFF;
  color: black;
}

/* -----  1.3 General Typography  ------------------------------------------- */

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1.25rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal; //no weighted fonts
  
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h1.title {
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 2.4rem;
  word-spacing: -4px;
}


h2 {
  font-size: 1.75rem;
  line-height: 2.2rem;
  text-align: center;
}

.dates {
display: table;
margin: 0 auto;
margin-bottom: 1rem;

}

.dates h2 {
	display: inline;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2;
}

h4 {
  font-size: 1em;
}

/* Sub head for categories and notes */
h6 {
  text-transform: uppercase;
  margin-bottom: -8px;
  margin-top: 0.5rem;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid $color-secondary;
}

a:hover, a:focus, a:active {
  color: $color-secondary;
}



b, strong {
  font-weight: 700;
}

mark {
  padding: .1em .05em;
  margin: -.1em 0;
   background: #FFFFFF;
  color: black;
}

/* -----  1.4 Images & Figures  --------------------------------------------- */

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: .5rem;
  text-transform: uppercase;
text-align: right;
}

figure.cover-image {
 	display:block;
 	width: 80%;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	}

@media all and (max-width: 30em) {
  figure.cover-image {
    /* Smaller screen sizes */
    width: 100%;
  }
}	


/* =====  2 Layout Helpers & Reusable Components  =========================== */

/* The Clearfix™: A classic … */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}


.hide {

	display: none;
	
}


/* -----  2.1 Kirbytext  ---------------------------------------------------- */

.intro {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

h1 + .intro {
  margin-top: -2.25rem;
}

.text h2, .text h3 {
  margin-top: 3rem;
}

.text ul, .text ol {
  margin-left: 1.5em;
}

.text hr {
  /* We use a more muted style for horizontal rules within
     the main content. */
  color: #a8a5be;
}

.text ul {
  list-style: none;
}

.text ul > li::before {
  content: "–";
  display: inline-block;
  position: relative;
  width: 1.25em;
  margin-right: -1.25em;
  left: -1.25em;
  padding-left: .25em;
}

.text ol > li {
  list-style: decimal;
}

.text pre, .text code {
  background-color: #eafded;
  font-family: Courier, monospace;
  font-size: .75rem;
}

.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  .text pre > code {
    /* Enables smoother scrolling for code sections on
       mobile (i.e. touch) devices. */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: $body-font;
  position: relative;
  bottom: 2px;
}

.text blockquote {
  font-family: $body-font;
  border-left: 2px solid #a8a5be;
  padding: .75rem;
  background: #fffffd;
}

.text blockquote :last-child {
  margin-bottom: 0;
}




/* =====  3 Site Layout  ==================================================== */

html {
  background: #fffff8;
  color: $color-primary;
  font: normal 400 1.5em/1.5 $body-font;
  line-height: 1.5;
  /* Always show the vertical scrollbar to prevent `jumps`
     of page content after navigating from a very short page
     that does not scroll to a long pager */
  overflow-y: scroll;
  /* Setting this to `default` prevents the cursors from
     changing when hovering blocks of text or whitespace,
     which is less distracting */
  cursor: default;
  /* Neccessary for sticks footer. */
  position: relative;
  min-height: 100%;
  /* Prevent adjustments of font size after orientation
     changes in IE and iOS. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Highlight color for WebKit-bases touch devices. */
  -webkit-tap-highlight-color: rgba(113, 239, 172, .5);
}

@media all and (max-width: 30em) {
  html {
    /* We decrease the font-size a little-bit for tiny
       screens. Because this stylesheet uses relative units
       everywhere, everything scales nicely. */
    font-size: 1.25em;
  }
}

body {
  /* space for sticky footer */
  margin-bottom: 4.5rem;
}

/* ----- 3.1  Header  ------------------------------------------------------- */


.header-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.branding {
  text-align: center;
  font-family: $body-font;
  font-size: 1.5rem;
  line-height: 1.95rem;
  margin-bottom: .45rem;
}

.branding a {
  border-bottom: 0;
}

@media all and (min-width: 56em) {
  .header-main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .branding {
    line-height: 3rem;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: left;
  }
  .branding,
  .navigation {
    vertical-align: baseline;
    width: 50%;
  }
}

/* -----  3.2 Menu  --------------------------------------------------------- */

.menu {
  text-align: center;
}

.menu-item {
  display: inline-block;
  color: $color-secondary;

}

.menu-item:not(:last-child)::after {
  content: " ";
  display: inline-block;
  font-size: .75em;
  padding: 0 .2em;
  color: #a8a5be;
}

.menu-item a:hover {
  color: $color-primary;
}

.menu-item.is-active a {
  border-bottom: 2px solid $color-secondary;
}

@media all and (min-width: 56em) {
  .menu {
    text-align: right;
  }
}

/* -----  3.3 Sticky Footer  ------------------------------------------------ */

@keyframes pulsing-heart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  font-size: .875rem;
}

.footer p {
  margin-bottom: 0;
}

.footer a {
  border-bottom: 0;
}

.footer .heart {
  /* The heart character of Arial Unicode MS looks just 
     surprisingly nice … */
  font-family: "Arial Unicode MS", Arial, sans-serif;
  display: inline-block;
}

.footer-madewithkirby a:hover .heart {
  animation: pulsing-heart .6s linear infinite;
}



/* -----  3.4 Main Content  ------------------------------------------------- */

.main {
  margin-top: calc(100vh - 280px);
  margin-bottom: 1.5rem;
  box-shadow: 0px 34px 60px 60px rgba(1, 1, 1, .25);
}

@media (max-width: 850px) {
      .main {
	      margin-top: calc(100vh - 200px);
	      }
}

section {background-color: white;}

/* =====  4 Template-specific Components ==================================== */

/* -----  EXHIBITIONS  ----------------------------------------------------- */

.exhibitions {
	
	box-shadow: 0 34px 34px 37px rgba(1, 1, 1, 0.25);
}

.exhibition {
	
	min-height: 100vh;
	padding-bottom: 3rem !important;
	padding-top: 3rem !important;
	
}


.exhibitions {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


.close-btn {
	
	font-size: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    position: absolute; right: 0px; top: 0px;
    color: rgba(255,255,255,1); 
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 0;
    color: black;
	
}

/* -----  FRONT  ----------------------------------------------------- */

.front {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: -9999;
	
}


/* -----  NOTIFICATIONS  ----------------------------------------------------- */


$circle-size: 175px;

.notification {
	width:$circle-size;
    height:$circle-size;
    line-height:$circle-size; //set to height of circle to middle align text
    border-radius:100%;
    text-align:center;
    position: absolute;
	right: 1.5vw;
	top: 1.5vw;
// 	box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.25);
	background-color: white;
	cursor: pointer;
	padding: 0px 5px;
}


.notification div
{
    line-height: normal;
    display:inline-block;
    vertical-align: middle;
    font-size: .8rem;
}

.notification div h6
{
   text-transform: uppercase;
   margin-bottom: 10px;
   margin-top: 0rem
}

@media (max-width: 850px) {
  .notification {
	  $circle-size: 90px;
	width:$circle-size;
    height:$circle-size;
    line-height:$circle-size; //set to height of circle to middle align text
	right: 13vw;
	top: 6.5vw
	  }
	  
		.notification div
	{
	
	    font-size: .5rem;
	}

	  
		.notification div h6
	{
	
	   margin-bottom: 2px;
	}
  
}


//Lighbox
@import "simpleLightbox";

@import "grid";
@import "button";
@import "scrollers";

